{% extends 'authenticated.html' %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block sub_title %}{% trans "Edit a dish" %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h4>{% trans "Edit dish" %}</small></h4>
<form action="{% url 'api:dish-detail' pk=dish.pk %}" method="PATCH" ajax-send>
    {% csrf_token %}
    {% render_form serializer %}
    <button type="submit">{% trans "Edit" %}</button>
    <a href="{% url 'menu:dish-list' %}">{% trans "Cancel" %}</a>
</form>
{% endblock %}