{% extends 'authenticated.html' %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block sub_title %}{% trans "Create a dish" %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h4>{% trans "Create a dish" %}</h4>
<form action="{% url 'api:dish-list' %}" method="POST" ajax-send>
    {% csrf_token %}
    {% render_form serializer %}
    <button type="submit">{% trans "Create" %}</button>
    <a href="{% url 'menu:dish-list' %}">{% trans "Cancel" %}</a>
</form>
{% endblock %}